$header-height: 50px;
$left-sidebar-width: 200px;
$right-sidebar-width: 300px;
$border-color: rgba(0, 0, 0, 0.05);
$primary-color: #3cb1ff;
$notify-color: #00d672;
$danger-color: #e74c3c;
$body-color: #2c3e50;
$message-background: rgba(0, 0, 0, 0.1);
$message-background-dark: #202c38;
$theme-text-color: #000000;